* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0d1117;
    color: #f0f6fc;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}